
<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<div>Changed HOME.... some more changes... more changes..,.,.,.,.,.,.,.,</div>
<div>Changed HOME.... some more changes... more changes..,.,.,.,.,.,.,.,</div>
<div>Changed HOME.... some more changes... more changes..,.,.,.,.,.,.,.,</div>
<div>Changed HOME.... some more changes... more changes..,.,.,.,.,.,.,.,</div>
<div>Changed HOME.... some more changes... more changes..,.,.,.,.,.,.,.,</div>
<div>Changed HOME.... some more changes... more changes..,.,.,.,.,.,.,.,</div>
<nav>
    <ul class="round">
        <li><%= link_to 'Sign Up' , signup_path%></li>
    </ul>
</nav>

